<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加菜单信息</title>
</head>
<body>

<form action="{% url 'add_mymenu' %}" method="post">
    {% csrf_token %}
    名称: <input type="text" name="name"><br>
    <input type="submit" value="增加"><br>

</form>

<form action="{% url 'check_mymenu' %}" method='get'>
    {% csrf_token %}
    <input type="submit" value="查看菜单"><br>
</form>

</body>
</html>