<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看菜单信息</title>
</head>
<body>

</form>
<table border="1">
    {% for name in menulist %}
        <tr>
            <td>{{ name.id }}</td>
            <td>{{ name.name }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>