<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>小厨的菜品</title>
</head>
<body>
 
<h1>欢迎来到小厨食材订购系统</h1>
 
<p style="background-color: aquamarine">请输入您想要添加的菜品</p>

{#<form method="post" action="{% url 'mymenu' %}">#}
{#<form method="post" action="/hello/">#}
{#    {% csrf_token %}#}
{#    <input type="text" value="" name="key">#}
{#    <input type="submit" value="提交">#}
{#</form>#}

<br>
{% include 'add_mymenu.html' %}
{% include 'check_mymenu.html' %}


</body>
</html>